.myGrow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

.myGrow:hover,
.myGrow:focus {
  transform: scale(1.05);
}

.myGrow:active {
  transform: scale(0.9);
}

.center {
  justify-content: center;
  display: flex;
}
