.profile-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcf4f6+0,f1fbfb+4,f1fbfb+13,dcf4f6+19,e1eff5+45,c8e1ee+61,bfd7e9+75,dcf4f6+87,dcf4f6+87,b6cce4+100 */
  background: #dcf4f6; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #dcf4f6 0%,
    #f1fbfb 4%,
    #f1fbfb 13%,
    #dcf4f6 19%,
    #e1eff5 45%,
    #c8e1ee 61%,
    #bfd7e9 75%,
    #dcf4f6 87%,
    #dcf4f6 87%,
    #b6cce4 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #dcf4f6 0%,
    #f1fbfb 4%,
    #f1fbfb 13%,
    #dcf4f6 19%,
    #e1eff5 45%,
    #c8e1ee 61%,
    #bfd7e9 75%,
    #dcf4f6 87%,
    #dcf4f6 87%,
    #b6cce4 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #dcf4f6 0%,
    #f1fbfb 4%,
    #f1fbfb 13%,
    #dcf4f6 19%,
    #e1eff5 45%,
    #c8e1ee 61%,
    #bfd7e9 75%,
    #dcf4f6 87%,
    #dcf4f6 87%,
    #b6cce4 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcf4f6', endColorstr='#b6cce4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.buttons-section {
  display: flex;
  justify-content: space-evenly;
}

.bg-danger {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec2c2+0,fe9c9c+45,ff6d6d+100 */
  background: #fec2c2; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #fec2c2 0%,
    #fe9c9c 45%,
    #ff6d6d 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #fec2c2 0%,
    #fe9c9c 45%,
    #ff6d6d 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #fec2c2 0%,
    #fe9c9c 45%,
    #ff6d6d 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec2c2', endColorstr='#ff6d6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-save {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7f0fb+0,b6e8fc+25,8ddef9+84,d7f0fb+100 */
  background: #d7f0fb; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #d7f0fb 0%,
    #b6e8fc 25%,
    #8ddef9 84%,
    #d7f0fb 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #d7f0fb 0%,
    #b6e8fc 25%,
    #8ddef9 84%,
    #d7f0fb 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #d7f0fb 0%,
    #b6e8fc 25%,
    #8ddef9 84%,
    #d7f0fb 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f0fb', endColorstr='#d7f0fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.modal-close {
  font-size: 3rem;
  max-height: 60px;
  cursor: pointer;
  font-weight: bold;
}

.modal-close:hover {
  color: gray;
  cursor: pointer;
}
